body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*flex wrapping project*/
.flex-project {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fefefe;
}

/*Header*/
.header-div {
 background-color: #46acc2;
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-evenly;
 align-items: center;
 padding-top: .7rem;
 padding-bottom: .8rem;
 }


.header-inside h1 {
  font-size: 50px;
}

.user-info-inside {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-button button {
  margin-left: 35px;
  margin-right: 35px;
  padding: 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  color:#080808;
}

.user-button button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  cursor: pointer;
}

/*Footer*/

.footer-div{
  width: 100vw;
  height: auto;
  background-color: #46acc2; 
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Animation*/

.animation-div {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.animation-div div {
  margin-right: 1px;
  margin-left: 1px;
}

@keyframes FadeIn {
  0% {opacity:1;}
  25% {opacity:.75;}
  50% {opacity:.5;}
  100% {opacity:0;}
}
@keyframes GrowBam {
  0% {font-size: 50px; opacity: 0%;}
  25% {font-size: 150px; opacity: 100%;}
  50% {font-size: 50px; opacity: 0%;}
  75% {font-size: 50px; opacity: 0%;}
  100% {font-size: 50px; opacity: 0%;}
}
@keyframes GrowThomp {
  0% {font-size: 50px;  opacity: 0%;}
  25% {font-size: 50px; opacity: 0%;}
  50% {font-size: 150px; opacity: 100%;}
  75% {font-size: 50px; opacity: 0%;}
  100% {font-size: 50px; opacity: 0%;}
}
@keyframes GrowPow {
  0% {font-size: 50px; opacity: 50%;}
  25% {font-size: 50px; opacity: 0%;}
  50% {font-size: 50px; opacity: 0%;}
  75% {font-size: 50px; opacity: 0%;}
  100% {font-size: 150px;}
}

.bam, .thomp, .pow {
    font-size: 50px;
    animation-name: FadeIn;
    animation-timing-function:step-start;
    animation-iteration-count: infinite;
    animation-duration: 4s;

}
.bam {
  background: url(./assets/explode.02.png);
  background-repeat: no-repeat;
  background-size: 100% 120%;
  background-position: center;
  font-family: 'Bangers', cursive;
  animation-name: GrowBam;
  animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
.thomp {
  background: url(./assets/explode.02.png);
  background-repeat: no-repeat;
  background-size:100% 120%;
  background-position: center;
  font-family: 'Bangers', cursive;
  animation-name: GrowThomp;
  animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
.pow {
  background: url(./assets/explode.02.png);
  background-repeat: no-repeat;
  background-size: 100% 120%;
  background-position: center;
  font-family: 'Bangers', cursive;
  animation-name: GrowPow;
  animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

/* fightercards.js experiment */

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /* makes sure the cards stay the same shape with longer names */
  width: 300px;
  height: auto;
  margin: 25px;
  border: 10px;
  border-width: 1px;
  border-style: solid;
  background-color: #f5e3ed;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  cursor: pointer;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.charPicture {
  background: url(./assets/timmyturner.png);
}

.container h2 {
  padding-bottom: 15px;
}

.container p {
  padding-bottom: 10px;
}

.card-parent-div {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  padding: 20px 20px 20px 20px;
}

.container {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #070101;
  margin-top: 10px;
}

.fighter-div {
  margin: 105px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* sign-in style start */
.login-main-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signIn-form-main-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px;
  border-style: solid;
  border-width: 3px;
  width: 41%;
  border-radius: 10px;
  background-color: #46acc2;
  margin-top: 40px;
}

.signIn-form-main-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px;
  border-style: solid;
  border-width: 3px;
  width: 41%;
  border-radius: 10px;
  background-color: #46acc2;
  margin-bottom: 40px;
}

.form-title {
  margin: 15px;
}

.form-title h2 {
  text-align: center;
}

.form b {
  padding-right: 10px;
}

.form input {
  border-radius: 4px;
  width: 100%
}

.form-info {
  width: 60%
}

.form span {
  display: block;
  overflow: hidden;
  padding: 0 5px 0 0;
}

.btn-div {
  display: flex;
    justify-content: center;
    margin: 21px;
}

.signIn-btns {
  border-radius: 3px;
  padding: 4px;
}

.divider {
  display: flex;
  justify-content: center;
  margin-top: 21px;
  margin-bottom: 21px;
}

.divider-message {
  text-align: center;
}

/* large phones and tablets */
@media only screen and (max-width: 1200px){
  .signIn-form-main-container1 {
    width:70%;
  }
  .signIn-form-main-container2 {
    width: 70%;
  }
}

/* for phone screens */
@media screen and (max-width: 700px) {
  .header-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .user-button button {
    margin-bottom: 25px;
  }
  .signIn-form-main-container1 {
    width:80%;
  }
  .signIn-form-main-container2 {
    width: 80%;
  }
}

@media only screen and (max-width: 425px){
  .signIn-form-main-container1 {
    width:80%;
  }
  .signIn-form-main-container2 {
    width: 80%;
  }
}

/* character images style start */
.charImage {
  height: 100px;
  width: 265px;
}

/* choose your fighter style */
.choose-fighter-title {
  display: flex;
  justify-content: center;
  padding-top: 36px;
  font-size: 23px;
  font-style: italic;
}