body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*flex wrapping project*/
.flex-project {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fefefe;
}

/*Header*/

.header-div {
 background-color: #46acc2;
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 padding-top: .7rem;
 padding-bottom: .8rem;
 }
.header-inside h1 {
  font-size: 70px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 6px;
  color: #fefefe;
  
}
.user-info-inside {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 6px;
  color: #fefefe;
}
.user-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.user-button button {
  margin-left: 80px;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  color: #fefefe;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  letter-spacing: 6px;
  background-color: #a4abb3;
}
.user-button button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  cursor: pointer;
}
.user-button button:active {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  cursor: pointer;
  transform: scale(0.95) translateY(2px);
}

/*Footer*/

.footer-div{
  width: 100vw;
  height: auto;
  background-color: #46acc2; 
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 6px;
  color: #fefefe;
  font-size: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*Animation*/

.animation-div {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.animation-div div {
  margin-right: 1px;
  margin-left: 1px;
}
@keyframes FadeIn {
  0% {opacity:1;}
  25% {opacity:.75;}
  50% {opacity:.5;}
  100% {opacity:0;}
}
@keyframes GrowBam {
  0% {font-size: 50px; opacity: 0%;}
  25% {font-size: 150px; opacity: 100%;}
  50% {font-size: 50px; opacity: 0%;}
  75% {font-size: 50px; opacity: 0%;}
  100% {font-size: 50px; opacity: 0%;}
}
@keyframes GrowThomp {
  0% {font-size: 50px;  opacity: 0%;}
  25% {font-size: 50px; opacity: 0%;}
  50% {font-size: 150px; opacity: 100%;}
  75% {font-size: 50px; opacity: 0%;}
  100% {font-size: 50px; opacity: 0%;}
}
@keyframes GrowPow {
  0% {font-size: 50px; opacity: 50%;}
  25% {font-size: 50px; opacity: 0%;}
  50% {font-size: 50px; opacity: 0%;}
  75% {font-size: 50px; opacity: 0%;}
  100% {font-size: 150px;}
}

.bam, .thomp, .pow {
    font-size: 50px;
    animation-name: FadeIn;
    animation-timing-function:step-start;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}
.bam {
  background: url(./assets/explode.02.png);
  background-repeat: no-repeat;
  background-size: 100% 120%;
  background-position: center;
  font-family: 'Bangers', cursive;
  animation-name: GrowBam;
  animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
.thomp {
  background: url(./assets/explode.02.png);
  background-repeat: no-repeat;
  background-size:100% 120%;
  background-position: center;
  font-family: 'Bangers', cursive;
  animation-name: GrowThomp;
  animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
.pow {
  background: url(./assets/explode.02.png);
  background-repeat: no-repeat;
  background-size: 100% 120%;
  background-position: center;
  font-family: 'Bangers', cursive;
  animation-name: GrowPow;
  animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

/*Fighter Poster that shows the fight*/
@keyframes GrowPoster {
  from {
    transform: scale(0) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(359deg);
  }
}

.poster-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.poster {
  animation: GrowPoster 4s;
  animation-iteration-count:1;
  background-image: url(./assets/annie-spratt-xvU-X0GV9-o-unsplash.jpg);
  border-radius: 1%;
  width: 28%;
  height: 750px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}
.poster-top {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.poster-top h2{
  width: 100%;
  text-align: center;
  font-size: 28px;
  word-spacing: 4px;
  font-family: 'Dela Gothic One', cursive;
}
.poster-exclusive {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.poster-exclusive span {
  background-color: #972D07;
  display: flex;
  flex-direction: column;
  justify-content:center;
  border-radius: 40%;
  margin-top: 30px;
  margin-left: 25px;
  height: 170px;
  font-size: 26px;
  font-family: 'Dela Gothic One', cursive;
  text-align: center;
}
.poster-exclusive h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  font-size: 32px;
  font-family: 'Dekko', cursive;
}
.poster-fighters {
  border-style:double;
  border-width: 15px;
  border-color: #972D07;
  width: 80%;
  height: 250px;
  margin-top: 30px;
  margin-left: 50px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.poster-fighters h3 {
  margin-top: 25px;
  font-size: 36px;
  font-family: 'Dela Gothic One', cursive;
}
.poster-bet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 140px;
}
.poster-bet h3 {
  font-size: 38px;
  font-family: 'Dekko', cursive;
}
.poster-bet input {
  background-color: #972D07;
  height: 40px;
  width: 70px;
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 6px;
  transition: box-shadow 0.4s;
}

/* fightercards.js experiment */

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /* makes sure the cards stay the same shape with longer names */
  width: 300px;
  height: auto;
  margin: 25px;
  border: 10px;
  border-width: 3px;
  border-style: solid;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  cursor: pointer;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.charPicture {
  background: url(./assets/timmyturner.png);
}

.container h2 {
  padding-bottom: 15px;
}

.container p {
  padding-bottom: 10px;
}

.card-parent-div {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  padding: 20px 20px 20px 20px;
}

.container {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #070101;
  margin-top: 10px;
}

.fighter-div {
  margin: 105px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* sign-in style start */
.login-main-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signIn-form-main-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px;
  border-style: solid;
  border-width: 3px;
  width: 41%;
  border-radius: 10px;
  background-color: #46acc2;
  margin-top: 40px;
}

.signIn-form-main-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px;
  border-style: solid;
  border-width: 3px;
  width: 41%;
  border-radius: 10px;
  background-color: #46acc2;
  margin-bottom: 40px;
}

.form-title {
  margin: 15px;
}

.form-title h2 {
  text-align: center;
}

.form b {
  padding-right: 10px;
}

.form input {
  border-radius: 4px;
  width: 100%
}

.form-info {
  width: 60%
}

.form span {
  display: block;
  overflow: hidden;
  padding: 0 5px 0 0;
}

.btn-div {
  display: flex;
    justify-content: center;
    margin: 21px;
}

.signIn-btns {
  border-radius: 3px;
  padding: 4px;
}

.signIn-btns:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  cursor: pointer;
}
.signIn-btns:active {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  cursor: pointer;
  transform: scale(0.95) translateY(2px);
}

.divider {
  display: flex;
  justify-content: center;
  margin-top: 21px;
  margin-bottom: 21px;
}

.divider-message {
  text-align: center;
}

/*results page*/

.results {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@keyframes Fade {
  0% {opacity:100}
  50% {opacity: 0;}
  100% {opacity:100;}
}
.quip h2 {
  font-size: 60px;
  font-family: 'Bangers';
  letter-spacing: 2px;
  word-spacing: 2px;
}

.win-or-lose h2{
 font-size: 100px;
 font-family: 'Dela Gothic One', cursive;
 animation: Fade;
  animation-timing-function:step-start;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.money h2{
 font-size: 60px;
 font-family: 'Bangers';
 letter-spacing: 2px;
  word-spacing: 2px;
}
.results-btn-holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.results-btn {
  width: 35%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  color:#fefefe;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 6px;
  background-color: #a4abb3;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}
.results-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  cursor: pointer;
}
.results-btn:active {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  cursor: pointer;
  transform: scale(0.95) translateY(2px);
}

/*Media Queries*/

/* Monitor size + */
@media only screen and (max-width: 1500px){
  .signIn-form-main-container1 {
    width:60%;
  }
  .signIn-form-main-container2 {
    width: 60%;
  }
  .poster {
    width: 35%;
  }
}

/* large phones and tablets */
@media only screen and (max-width: 1200px){
  .signIn-form-main-container1 {
    width:70%;
  }
  .signIn-form-main-container2 {
    width: 70%;

  }
}

/* large phones and tablets */
@media only screen and (max-width: 1200px){
  .signIn-form-main-container1 {
    width:70%;
  }
  .signIn-form-main-container2 {
    width: 70%;
  }
  .poster {
    width: 45%;
  }
}
/* for phone screens */
@media screen and (max-width: 700px) {
  .header-inside h1 {
    font-size: 40px;
  }
  .user-info-inside h2 {
    font-size: 20px;
  }
  .signIn-form-main-container1 {
    width:80%;
  }
  .signIn-form-main-container2 {
    width: 80%;
  }
  .poster {
    width: 70%;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 600px){
  .poster {
    width: 90%;
  }
  .header-inside h1 {
    font-size: 35px;
  }
  .user-info-inside h2 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 425px){
  .signIn-form-main-container1 {
    width:80%;
  }
  .signIn-form-main-container2 {
    width: 80%;
  }
  .poster {
    width: 100%;
  }
}